a{
    text-decoration: none;
    color: rgb(66, 50, 50);
}
.movie_card{
    background-color: rgb(206, 175, 175);
    width:250px;
    margin: 10px 10px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s transform ease;
    
}

.movie_card:hover{
    transform: scale(0.9);
}

.movie_poster{
    width:200px;
    border-radius:10px ;
    margin-top: 10px;
    margin-bottom: 10px;
}
.movie_title{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    height: 50px;
    text-align: center;
    
    
}
.movie_rating{
    margin-top: 50px;
    font-size: 24px;
    font-weight: 600;
}